@using AmarisTest.Models;
@using System.Globalization
@model List<EmployeeViewModel>
@{
    ViewData["Title"] = "Search Employees";
}

<div class="text-center">
    <h1 class="display-4">Search Employees</h1>
    <p>Please insert the id of the employee</p>
    
</div>
